<h1>Shopping List</h1>
<p>Amount of food items to buy <%= @foods.length%></p>
<p>Total value of food needed <%= @sum %>$</p>
<table class="foods-table">
    <thead class="table-head">
        <tr class="food-head">
        <th>Food</th>
        <th>quantity</th>
        <th>Unit Price</th>
        </tr>
    </thead>
    <tbody>
        <% @foods.each do |food| %>
        <tr class="custom-table-row">
            <td class="food-names">
            <%=food.name%>
            </td>
            <td><%= food.quantity %></td>
            <td><span>$<%= food.price %></td></span>
        </tr>
        <% end %>
    </tbody>
</table>
