<div>
    <h2><%= @recipe.name%></h2>

    <article>
        <div>
            <p>Preparation time: <%= @recipe.preparation_time %>h</p>
            <p>Cooking time: <%= @recipe.cooking_time %>h</p>
            <p>Steps go here ...</p>
        </div>
        <%= form_with(model: @recipe, url: user_recipe_url(current_user.id, @recipe.id), method: :patch, local: true) do |f| %>
            <%= f.hidden_field :active, value: @recipe.public ? 0 : 1 %>
            <%= f.submit @recipe.public ? 'Public' : 'Private', class: 'btn btn-primary' %>
        <% end %>

    </article>
    <div>
        <%= link_to 'Generate Shopping list', user_shopping_list_index_path(current_user)%>
        <%= link_to 'Add ingredient', new_user_recipe_recipe_food_path(current_user, @recipe)%>
    </div>

    <table>
        <thead class="table-head">
            <tr class="food-head">
            <th>Food</th>
            <th>quantity</th>
            <th>Unit</th>
            <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% @foods.each do |food| %>
            <tr class="custom-table-row">
                <td class="food-names">
                    <%=food.name%>
                </td>
                <td><%= food.quantity %></td>
                <td><%= food.measurement_unit %></td>
                <td><span>$<%= food.price %></td></span>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>