<div>
    <h2><%= @recipe.name%></h2>

    <article>
        <div>
            <p>Preparation time: <%= @recipe.preparation_time %>h</p>
            <p>Cooking time: <%= @recipe.cooking_time %>h</p>
            <p>Steps go here ...</p>
        </div>
        <%= form_with(model: @recipe, url: user_recipe_url(current_user.id, @recipe.id), method: :patch, local: true) do |f| %>
            <%= f.hidden_field :active, value: @recipe.public ? 0 : 1 %>
            <%= f.submit @recipe.public ? 'Public' : 'Private', class: 'btn btn-primary' %>
        <% end %>

    </article>
    <div>
        <%= link_to 'Generate Shopping list', user_shopping_list_index_path(current_user)%>
        <%= link_to 'Add ingredient', user_recipe_food_path(current_user, @recipe)%>
    </div>

    <% @foods.each do |food| %>
        <tr class="custom-table-row">
            <td class="food-names">
            <%= link_to food.name, user_food_url(current_user.id, food.id) %>
            </td>
            <td><%= food.quantity %></td>
            <td><%= food.measurement_unit %></td>
            <td><span>$<%= food.price %></td></span>
            <td>
            <%=
                button_to "Modify",
                user_food_path(current_user.id, food.id), method: :delete,
                data: { confirm: "Delete food?" }
            %>
            <%=
                button_to "Delete",
                user_food_path(current_user.id, food.id), method: :delete,
                data: { confirm: "Delete food?" }
            %>
            </td>
        </tr>
    <% end %>
</div>