<div>
    <h2><%= @recipe.name%></h2>

    <article>
        <div>
            <p>Preparation time: <%= @recipe.preparation_time %>h</p>
            <p>Cooking time: <%= @recipe.cooking_time %>h</p>
            <p>Steps go here ...</p>
        </div>
        <button>Public</button>
    </article>
    <div>
        <button>Generate Shopping List</button>
        <button>Add ingredient</button>
    </div>

    <% @foods.each do |food| %>
        <tr class="custom-table-row">
            <td class="food-names">
            <%= link_to food.name, user_food_url(current_user.id, food.id) %>
            </td>
            <td><%= food.quantity %></td>
            <td><%= food.measurement_unit %></td>
            <td><span>$<%= food.price %></td></span>
            <td>
            <%=
                button_to "Modify",
                user_food_path(current_user.id, food.id), method: :delete,
                data: { confirm: "Delete food?" }
            %>
            <%=
                button_to "Delete",
                user_food_path(current_user.id, food.id), method: :delete,
                data: { confirm: "Delete food?" }
            %>
            </td>
        </tr>
    <% end %>
</div>