<!DOCTYPE html>
<html>
  <head>
    <title>FoodsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <nav>
    <div class="nav-container">
    <span><%= link_to "Users Dashboard", users_path %></span>
    <span><%= link_to "Foods List", user_foods_path(current_user) %></span>
    <span><%= link_to "Recipe List", user_recipes_path(current_user) %></span>
    <span><%= link_to "Recipe Details", user_recipes_path(current_user) %></span>
    <span><%= link_to "Public Recipes", user_public_recipes_path(current_user) %></span>
    <span><%= link_to "Shopping List", user_shopping_list_index_path(current_user) %></span>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>